{
    "prod": {
        "django_settings": "config.settings.production",
        "profile_name": null,
        "project_name": "britecorehiringtest",
        "runtime": "python3.6",
        "s3_bucket": "zappa-bucket",
        "aws_region": "us-east-1",
        "aws_environment_variables": {
            "DJANGO_READ_DOT_ENV_FILE": "true",
            "DJANGO_ADMIN_URL": "admin/",
            "DJANGO_SECRET_KEY": "",
            "DATABASE_URL": "",
            "DJANGO_AWS_ACCESS_KEY_ID": "",
            "DJANGO_AWS_SECRET_ACCESS_KEY": "",
            "DJANGO_AWS_STORAGE_BUCKET_NAME": "britecoredjango",
            "DJANGO_ALLOWED_HOSTS": ""
        }
    }
}
